<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>공지사항</title>
    <% if(typeof message !== 'undefined'){%>
        <script>
            alert("<%= message %>");
            history.back();
        </script>
        <% }else{ %>
</head>
<body>
    <header>
        <i class="fa-solid fa-bars"></i>
        관리자 홈
    </header>

    <nav>
        <div class="logo" style="cursor: pointer;"><h1>MEDIMATE</h1></div>
        <ul>
            <li class="nav-user"><i class="fa-solid fa-users"></i> 회원 관리</li>
            <li class="nav-drugstore"><i class="fa-solid fa-house-medical"></i> 약국 관리</li>
            <li class="nav-medicine"><i class="fa-solid fa-prescription-bottle-medical"></i> 약품 관리</li>
            <li class="nav-announcement active"><i class="fa-solid fa-scroll"></i> 공지 사항</li>
            <li class="nav-QnA"><i class="fa-solid fa-comments"></i> 문의 사항</li>
        </ul>
    </nav>

    <main>
        <article class="title">
            <h2>공지사항</h2>
            <form action="/admin/announcement" method="get" class="search" id="search">
                <input type="hidden" name="page" id="page">
                <input type="text" name="A_TITLE" placeholder="제목으로 검색" value="<%= A_TITLE %>">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </article>
        <article class="list">
            <div class="list-title">
                <ul>
                    <li class="row-1">글번호</li>
                    <li class="row-3">제목</li>
                    <li class="row-1">글쓴이</li>
                    <li class="row-1">날짜</li>
                    <li class="row-1">비고</li>
                </ul>
            </div>
            <% list.forEach(data => { %>
                <div class="list-info">
                    <ul>
                        <li class="row-1"><%= data.A_NUM %></li>
                        <li class="row-3"><%= data.A_TITLE %></li>
                        <li class="row-1"><%= data.U_NAME %></li>
                        <li class="row-1"><%= data.A_DATE.slice(0,10) %></li>
                        <li class="row-1"><button class="ancm-info-btn" name="A_NUM" onclick="func1('<%=data.A_NUM %>')">상세보기</button></li>
                    </ul>
                </div>
            <% }) %>
            
            
            <div class="pagination">
                        <ul>
                            <% if (page > 1) { %>
                                <li onclick="page('<%= page - 1 %>')"><</li>
                            <% } %>
                            
                            <% for (let i = startPage; i <= endPage; i++) { %>
                            <% if (page==i) { %>
                                <li class="active"><%= i %></li>
                            <% } else { %>
                                <li onclick="page('<%= i %>')"><%= i %></li>
                            <% } %>
                            <% } %>
                            <% if (page < totalPages) { %>
                                <li onclick="page('<%= parseInt(page) + 1 %>')">></li>
                            <% } %>
                        </ul>
                    </div>
            <div class="write-btn">
                <button onclick="location.href='/admin/announcement/write'">글 작성</button>
            </div>
        </article>
    </main>



    <script src="https://kit.fontawesome.com/1bf31ed49f.js" crossorigin="anonymous"></script>
    <script src="/js/admin/admin.js"></script>
    <script src="/js/admin/adminAncm.js"></script>

</body>
</html>
<% } %>